<app-navbar
    [usuario-online] = "usrOnline"
></app-navbar>

<div class="container ">
	<div class="row bg-dark bg-gradient mt-1 rounded">
					
		<div class="col-md-12 mt-3 mb-5 ">
		
			<h1 class=" display-6 text-center text text-white">
				Squad 
				<span class="text-warning">Poker</span>
			</h1>
						
		</div>
					
	</div>
</div>

<home-points
[hasWinner]="hasWinner"
[usrOnline]="usrOnline"
></home-points>

<home-cards
[participants]="participants"
[usrOnline]="usrOnline"
[showBtnRealPoints]="showBtnRealPoints"
></home-cards>


<app-footer></app-footer>
<app-modal></app-modal>
