
<!-- Modal -->
<!--<div class="modal fade show"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: block;">-->
<div id="modalComponent" class="modal fade"  tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <!--Container-->
        <div class="modal-content">
            <header>
                <div id="titulo_modal_div" class="modal-header text-warning">
                    <h5 class="modal-title" id="titulo_modal">{{tituloModal}}</h5>
                    <button (click)="close()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </header>         
            <div id="conteudo_modal" class="modal-body">
                {{bodyModal}}       
            </div>
            <div class="modal-footer">
            <button (click)="funcActionModal()" id="funcActionModal" type="button" class="btn btn-secondary bg-warning" data-dismiss="modal">Sim</button>	
            <button (click)="close()" type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>	
          </div>
        </div>
    </div>
   
</div>

<ng-content></ng-content>
    
