<!--Footer--->
<footer class="mt-5 mb-4 ">
  <!--Container Footer-->
  <div class="container ">
    <!--Linha Row-->
    <div class="row border-top">
   
      <div class="col-md-12 d-flex justify-content-center mt-4">
        <a href="https://github.com/EduardoParo" class="btn btn-outline-dark ml-2  text-white bg-success">
          <i class="fab fa-github"></i>
          github.com/EduardoParo
        </a>
      </div>
       
    </div><!--Fim da Row Linha-->
  </div><!--Fim Cointainer-->   
</footer>